<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.task.home.title">Tasks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task" [routerLink]="['/task/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.task.home.createLabel">
            Create new Task
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tasks?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.task.home.notFound">No tasks found</span>
    </div>
    <div class="table-responsive" *ngIf="tasks?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="label"><span jhiTranslate="mySharedHomeActivitiesApp.task.label">Label</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="mySharedHomeActivitiesApp.task.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="done"><span jhiTranslate="mySharedHomeActivitiesApp.task.done">Done</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dueDate"><span jhiTranslate="mySharedHomeActivitiesApp.task.dueDate">Due Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="priority"><span jhiTranslate="mySharedHomeActivitiesApp.task.priority">Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="taskProjectLabel"><span jhiTranslate="mySharedHomeActivitiesApp.task.taskProject">Task Project</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let task of tasks ;trackBy: trackId">
                <td><a [routerLink]="['/task', task.id, 'view' ]">{{task.id}}</a></td>
                <td>{{task.label}}</td>
                <td>{{task.description}}</td>
                <td>{{task.done}}</td>
                <td>{{task.dueDate | date:'mediumDate'}}</td>
                <td>{{task.priority}}</td>
                <td>
                    <div *ngIf="task.taskProjectId">
                        <a [routerLink]="['../task-project', task.taskProjectId , 'view' ]" >{{task.taskProjectLabel}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/task', task.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/task', task.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'task', { outlets: { popup: task.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
