<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="msha-spent-heading" jhiTranslate="mySharedHomeActivitiesApp.spent.home.createOrEditLabel">Create or edit a Spent</h2>
            <div>
                <msha-alert-error></msha-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spent.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                           formControlName="label"/>
                    <div *ngIf="editForm.get('label').invalid && (editForm.get('label').dirty || editForm.get('label').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('label').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spent.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount').invalid && (editForm.get('amount').dirty || editForm.get('amount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spent.spentDate" for="field_spentDate">Spent Date</label>
                    <div class="input-group">
                        <input id="field_spentDate" type="text" class="form-control" name="spentDate" ngbDatepicker  #spentDateDp="ngbDatepicker" formControlName="spentDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="spentDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('spentDate').invalid && (editForm.get('spentDate').dirty || editForm.get('spentDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('spentDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spent.validated" for="field_validated">Validated</label>
                    <input type="checkbox" class="form-control" name="validated" id="field_validated"
                           formControlName="validated"/>
                    <div *ngIf="editForm.get('validated').invalid && (editForm.get('validated').dirty || editForm.get('validated').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validated').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spent.spender" for="field_spender">Spender</label>
                    <select class="form-control" id="field_spender" name="spender" formControlName="spenderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profilOption.id" *ngFor="let profilOption of profils; trackBy: trackProfilById">{{profilOption.displayName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spent.wallet" for="field_wallet">Wallet</label>
                    <select class="form-control" id="field_wallet" name="wallet" formControlName="walletId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="walletOption.id" *ngFor="let walletOption of wallets; trackBy: trackWalletById">{{walletOption.label}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
