<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.spent.home.title">Spents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent" [routerLink]="['/spent/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.spent.home.createLabel">
            Create new Spent
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="spents?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.spent.home.notFound">No spents found</span>
    </div>
    <div class="table-responsive" *ngIf="spents?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="label"><span jhiTranslate="mySharedHomeActivitiesApp.spent.label">Label</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="mySharedHomeActivitiesApp.spent.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spentDate"><span jhiTranslate="mySharedHomeActivitiesApp.spent.spentDate">Spent Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validated"><span jhiTranslate="mySharedHomeActivitiesApp.spent.validated">Validated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spenderDisplayName"><span jhiTranslate="mySharedHomeActivitiesApp.spent.spender">Spender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="walletLabel"><span jhiTranslate="mySharedHomeActivitiesApp.spent.wallet">Wallet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let spent of spents ;trackBy: trackId">
                <td><a [routerLink]="['/spent', spent.id, 'view' ]">{{spent.id}}</a></td>
                <td>{{spent.label}}</td>
                <td>{{spent.amount}}</td>
                <td>{{spent.spentDate | date:'mediumDate'}}</td>
                <td>{{spent.validated}}</td>
                <td>
                    <div *ngIf="spent.spenderId">
                        <a [routerLink]="['../profil', spent.spenderId , 'view' ]" >{{spent.spenderDisplayName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="spent.walletId">
                        <a [routerLink]="['../wallet', spent.walletId , 'view' ]" >{{spent.walletLabel}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/spent', spent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spent', spent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'spent', { outlets: { popup: spent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
