<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spentSharing">
            <h2><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.detail.title">Spent Sharing</span> {{spentSharing.id}}</h2>
            <hr>
            <msha-alert-error></msha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.amountShare">Amount Share</span></dt>
                <dd>
                    <span>{{spentSharing.amountShare}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.share">Share</span></dt>
                <dd>
                    <span>{{spentSharing.share}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.sharingUser">Sharing User</span></dt>
                <dd>
                    <div *ngIf="spentSharing.sharingUserId">
                        <a [routerLink]="['/profil', spentSharing.sharingUserId, 'view']">{{spentSharing.sharingUserDisplayName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.spent">Spent</span></dt>
                <dd>
                    <div *ngIf="spentSharing.spentId">
                        <a [routerLink]="['/spent', spentSharing.spentId, 'view']">{{spentSharing.spentLabel}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spent-sharing', spentSharing.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
