<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.home.title">Spent Sharings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent-sharing" [routerLink]="['/spent-sharing/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.spentSharing.home.createLabel">
            Create new Spent Sharing
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="spentSharings?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.home.notFound">No spentSharings found</span>
    </div>
    <div class="table-responsive" *ngIf="spentSharings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.amountShare">Amount Share</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.share">Share</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.sharingUser">Sharing User</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentSharing.spent">Spent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spentSharing of spentSharings ;trackBy: trackId">
                <td><a [routerLink]="['/spent-sharing', spentSharing.id, 'view' ]">{{spentSharing.id}}</a></td>
                <td>{{spentSharing.amountShare}}</td>
                <td>{{spentSharing.share}}</td>
                <td>
                    <div *ngIf="spentSharing.sharingUserId">
                        <a [routerLink]="['../profil', spentSharing.sharingUserId , 'view' ]" >{{spentSharing.sharingUserDisplayName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="spentSharing.spentId">
                        <a [routerLink]="['../spent', spentSharing.spentId , 'view' ]" >{{spentSharing.spentLabel}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/spent-sharing', spentSharing.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spent-sharing', spentSharing.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'spent-sharing', { outlets: { popup: spentSharing.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
