<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.home.title">Shopping Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-item" [routerLink]="['/shopping-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.home.createLabel">
            Create new Shopping Item
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shoppingItems?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.home.notFound">No shoppingItems found</span>
    </div>
    <div class="table-responsive" *ngIf="shoppingItems?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.label">Label</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.done">Done</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.list">List</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shoppingItem of shoppingItems ;trackBy: trackId">
                <td><a [routerLink]="['/shopping-item', shoppingItem.id, 'view' ]">{{shoppingItem.id}}</a></td>
                <td>{{shoppingItem.label}}</td>
                <td>{{shoppingItem.done}}</td>
                <td>
                    <div *ngIf="shoppingItem.listId">
                        <a [routerLink]="['../shopping-list', shoppingItem.listId , 'view' ]" >{{shoppingItem.listLabel}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shopping-item', shoppingItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shopping-item', shoppingItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shopping-item', { outlets: { popup: shoppingItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
