<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingItem">
            <h2><span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.detail.title">Shopping Item</span> {{shoppingItem.id}}</h2>
            <hr>
            <msha-alert-error></msha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.label">Label</span></dt>
                <dd>
                    <span>{{shoppingItem.label}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.done">Done</span></dt>
                <dd>
                    <span>{{shoppingItem.done}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.shoppingItem.list">List</span></dt>
                <dd>
                    <div *ngIf="shoppingItem.listId">
                        <a [routerLink]="['/shopping-list', shoppingItem.listId, 'view']">{{shoppingItem.listLabel}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-item', shoppingItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
