<div class="mat-elevation-z8">

    <mat-list *ngFor="let task of tasks; let i = index">
        <div class="task">
            <mat-list-item>
                <div class="checkbox-done">
                    <mat-checkbox [(ngModel)]="task.done" (change)="updateTask(task)"></mat-checkbox>
                </div>
                <div class="task-desc">
                    <div class="task-name"><span class="mat-body">{{task.label}}</span></div>
                    <div class="task-date">
                        <mat-icon class="edit-icon-size">calendar_today</mat-icon><span
                            class="mat-small"><i>{{task.dueDate | date:'mediumDate'}}</i></span>
                    </div>
                </div>


                <div class="edit-wrapper">
                    <button mat-icon-button (click)="openUpdateDialogTask(task)" color="primary">
                        <mat-icon class="edit-icon-size">edit</mat-icon>
                    </button>
                </div>
                <div class="avatar-box">
                    <ng-container *ngFor="let owner of task.owners">
                        <msha-mysha-comp-profil-badge [profilId]="owner.id"></msha-mysha-comp-profil-badge>
                    </ng-container>
                    <button mat-icon-button color="primary" [mdePopoverTriggerFor]="appPopover"
                        mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
                        <mat-icon class="edit-icon-size">more_vert</mat-icon>
                    </button>

                    <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                        <mat-card style="max-width: 300px">
                            <mat-card-content>
                                <h3>Particpants</h3>
                                <ng-container *ngFor="let owner of task.owners">
                                    <msha-mysha-comp-profil-badge [profilId]="owner.id"></msha-mysha-comp-profil-badge>
                                </ng-container>
                                <h3>Pouvant participer</h3>
                                <ng-container *ngFor="let owner of taskProject.owners">
                                    <msha-mysha-comp-profil-badge [profilId]="owner.id"></msha-mysha-comp-profil-badge>
                                </ng-container>
                            </mat-card-content>
                        </mat-card>
                    </mde-popover>

                </div>
            </mat-list-item>
        </div>
        <mat-divider></mat-divider>
    </mat-list>
</div>