table {
    width: 100%;
  }

  
  .mat-form-field {
    font-size: 12px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  span.title {
    font-weight: bold;
  }

  
  span.description {
    font-style: italic;
    font-size: 10px;
  }

  .task {
    position: relative;
  }

  .edit-wrapper {
    position: absolute;
    //display: inline-block;
    //width: 100px;
    top: -10px;
    right: -10px;
    padding: 0px;
  }
  .edit-icon-size {
    font-size: 16px;
  }

  .avatar-box {
    position: absolute;
    //display: inline-block;
    //width: 100px;
    bottom: 0px;
    right: 0px;
    padding: 0px;
  }

  .checkbox-done {
    position: relative;
    height: 100%;
    padding: 10px;
  }

  .task-desc {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .task-name {
    position: absolute;
    //display: inline-block;
    //width: 100px;
    top: 0px;
    left: 0px;
    padding: 0px;
  }
  .task-date {
    position: absolute;
    //display: inline-block;
    //width: 100px;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    font-style: italic;
  }

  
