<h1 mat-dialog-title>Modification de la tâche {{task.label}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Tâche</mat-label>
    <input matInput [(ngModel)]="task.label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
      [(ngModel)]="task.description"></textarea>
  </mat-form-field>
  <br/>
    <mat-checkbox [(ngModel)]="task.done">Faite ?</mat-checkbox>
    <br/>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="échéance" [formControl]="dateFormControl">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker (closed)="dueDateChanged($event)" disabled="false"></mat-datepicker>
      </mat-form-field>
    <span class="owner" *ngFor="let owner of task.owners">
        <msha-mysha-comp-profil-badge [profilId]="owner.id"></msha-mysha-comp-profil-badge>
    </span>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button [mat-dialog-close]="task" cdkFocusInitial>Ok</button>
</div>