<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingList">
            <h2><span jhiTranslate="mySharedHomeActivitiesApp.shoppingList.detail.title">Shopping List</span> {{shoppingList.id}}</h2>
            <hr>
            <msha-alert-error></msha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.shoppingList.label">Label</span></dt>
                <dd>
                    <span>{{shoppingList.label}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.shoppingList.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of shoppingList.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view' ]">{{owner.displayName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-list', shoppingList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
