<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.shoppingList.home.title">Shopping Lists</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-list" [routerLink]="['/shopping-list/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.shoppingList.home.createLabel">
            Create new Shopping List
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shoppingLists?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.shoppingList.home.notFound">No shoppingLists found</span>
    </div>
    <div class="table-responsive" *ngIf="shoppingLists?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.shoppingList.label">Label</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.shoppingList.owner">Owner</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shoppingList of shoppingLists ;trackBy: trackId">
                <td><a [routerLink]="['/shopping-list', shoppingList.id, 'view' ]">{{shoppingList.id}}</a></td>
                <td>{{shoppingList.label}}</td>
                <td>
                    <span *ngFor="let owner of shoppingList.owners; let last = last">
                            <a class="form-control-static" [routerLink]="['../profil', owner?.id, 'view' ]">{{owner.displayName}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shopping-list', shoppingList.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shopping-list', shoppingList.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shopping-list', { outlets: { popup: shoppingList.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
