<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profil">
            <h2><span jhiTranslate="mySharedHomeActivitiesApp.profil.detail.title">Profil</span> {{profil.id}}</h2>
            <hr>
            <msha-alert-error></msha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.profil.displayName">Display Name</span></dt>
                <dd>
                    <span>{{profil.displayName}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.profil.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="profil.photo">
                        <a (click)="openFile(profil.photoContentType, profil.photo)">
                            <img [src]="'data:' + profil.photoContentType + ';base64,' + profil.photo" style="max-width: 100%;" alt="profil image"/>
                        </a>
                        {{profil.photoContentType}}, {{byteSize(profil.photo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.profil.user">User</span></dt>
                <dd>
                    {{profil.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profil', profil.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
