<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.profil.home.title">Profils</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profil" [routerLink]="['/profil/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.profil.home.createLabel">
            Create new Profil
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="profils?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.profil.home.notFound">No profils found</span>
    </div>
    <div class="table-responsive" *ngIf="profils?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="displayName"><span jhiTranslate="mySharedHomeActivitiesApp.profil.displayName">Display Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="photo"><span jhiTranslate="mySharedHomeActivitiesApp.profil.photo">Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="mySharedHomeActivitiesApp.profil.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let profil of profils ;trackBy: trackId">
                <td><a [routerLink]="['/profil', profil.id, 'view' ]">{{profil.id}}</a></td>
                <td>{{profil.displayName}}</td>
                <td>
                    <a *ngIf="profil.photo" (click)="openFile(profil.photoContentType, profil.photo)">
                        <img [src]="'data:' + profil.photoContentType + ';base64,' + profil.photo" style="max-height: 30px;" alt="profil image"/>
                    </a>
                    <span *ngIf="profil.photo">{{profil.photoContentType}}, {{byteSize(profil.photo)}}</span>
                </td>
                <td>
                    {{profil.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/profil', profil.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/profil', profil.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'profil', { outlets: { popup: profil.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
