<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.spentConfig.home.title">Spent Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent-config" [routerLink]="['/spent-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.spentConfig.home.createLabel">
            Create new Spent Config
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="spentConfigs?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.spentConfig.home.notFound">No spentConfigs found</span>
    </div>
    <div class="table-responsive" *ngIf="spentConfigs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentConfig.label">Label</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentConfig.wallet">Wallet</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spentConfig of spentConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/spent-config', spentConfig.id, 'view' ]">{{spentConfig.id}}</a></td>
                <td>{{spentConfig.label}}</td>
                <td>
                    <div *ngIf="spentConfig.walletId">
                        <a [routerLink]="['../wallet', spentConfig.walletId , 'view' ]" >{{spentConfig.walletLabel}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/spent-config', spentConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spent-config', spentConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'spent-config', { outlets: { popup: spentConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
