<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spentConfig">
            <h2><span jhiTranslate="mySharedHomeActivitiesApp.spentConfig.detail.title">Spent Config</span> {{spentConfig.id}}</h2>
            <hr>
            <msha-alert-error></msha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentConfig.label">Label</span></dt>
                <dd>
                    <span>{{spentConfig.label}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentConfig.wallet">Wallet</span></dt>
                <dd>
                    <div *ngIf="spentConfig.walletId">
                        <a [routerLink]="['/wallet', spentConfig.walletId, 'view']">{{spentConfig.walletLabel}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spent-config', spentConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
