<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.taskProject.home.title">Task Projects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task-project" [routerLink]="['/task-project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.taskProject.home.createLabel">
            Create new Task Project
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="taskProjects?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.taskProject.home.notFound">No taskProjects found</span>
    </div>
    <div class="table-responsive" *ngIf="taskProjects?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="label"><span jhiTranslate="mySharedHomeActivitiesApp.taskProject.label">Label</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="workspaceLabel"><span jhiTranslate="mySharedHomeActivitiesApp.taskProject.workspace">Workspace</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let taskProject of taskProjects ;trackBy: trackId">
                <td><a [routerLink]="['/task-project', taskProject.id, 'view' ]">{{taskProject.id}}</a></td>
                <td>{{taskProject.label}}</td>
                <td>
                    <div *ngIf="taskProject.workspaceId">
                        <a [routerLink]="['../workspace', taskProject.workspaceId , 'view' ]" >{{taskProject.workspaceLabel}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/task-project', taskProject.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/task-project', taskProject.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'task-project', { outlets: { popup: taskProject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
