<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.home.title">Spent Sharing Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent-sharing-config" [routerLink]="['/spent-sharing-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.home.createLabel">
            Create new Spent Sharing Config
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="spentSharingConfigs?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.home.notFound">No spentSharingConfigs found</span>
    </div>
    <div class="table-responsive" *ngIf="spentSharingConfigs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.share">Share</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.sharingUser">Sharing User</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.defaultSpentConfig">Default Spent Config</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spentSharingConfig of spentSharingConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/spent-sharing-config', spentSharingConfig.id, 'view' ]">{{spentSharingConfig.id}}</a></td>
                <td>{{spentSharingConfig.share}}</td>
                <td>
                    <div *ngIf="spentSharingConfig.sharingUserId">
                        <a [routerLink]="['../profil', spentSharingConfig.sharingUserId , 'view' ]" >{{spentSharingConfig.sharingUserDisplayName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="spentSharingConfig.defaultSpentConfigId">
                        <a [routerLink]="['../spent-config', spentSharingConfig.defaultSpentConfigId , 'view' ]" >{{spentSharingConfig.defaultSpentConfigId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/spent-sharing-config', spentSharingConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spent-sharing-config', spentSharingConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'spent-sharing-config', { outlets: { popup: spentSharingConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
