<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spentSharingConfig">
            <h2><span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.detail.title">Spent Sharing Config</span> {{spentSharingConfig.id}}</h2>
            <hr>
            <msha-alert-error></msha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.share">Share</span></dt>
                <dd>
                    <span>{{spentSharingConfig.share}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.sharingUser">Sharing User</span></dt>
                <dd>
                    <div *ngIf="spentSharingConfig.sharingUserId">
                        <a [routerLink]="['/profil', spentSharingConfig.sharingUserId, 'view']">{{spentSharingConfig.sharingUserDisplayName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.defaultSpentConfig">Default Spent Config</span></dt>
                <dd>
                    <div *ngIf="spentSharingConfig.defaultSpentConfigId">
                        <a [routerLink]="['/spent-config', spentSharingConfig.defaultSpentConfigId, 'view']">{{spentSharingConfig.defaultSpentConfigId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spent-sharing-config', spentSharingConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
