<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="msha-spent-sharing-config-heading" jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.home.createOrEditLabel">Create or edit a Spent Sharing Config</h2>
            <div>
                <msha-alert-error></msha-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.share" for="field_share">Share</label>
                    <input type="number" class="form-control" name="share" id="field_share"
                           formControlName="share"/>
                    <div *ngIf="editForm.get('share').invalid && (editForm.get('share').dirty || editForm.get('share').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('share').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('share')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.sharingUser" for="field_sharingUser">Sharing User</label>
                    <select class="form-control" id="field_sharingUser" name="sharingUser" formControlName="sharingUserId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profilOption.id" *ngFor="let profilOption of profils; trackBy: trackProfilById">{{profilOption.displayName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spentSharingConfig.defaultSpentConfig" for="field_defaultSpentConfig">Default Spent Config</label>
                    <select class="form-control" id="field_defaultSpentConfig" name="defaultSpentConfig" formControlName="defaultSpentConfigId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="spentConfigOption.id" *ngFor="let spentConfigOption of spentconfigs; trackBy: trackSpentConfigById">{{spentConfigOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
