<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.home.title">Spent Recurrences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spent-recurrence" [routerLink]="['/spent-recurrence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.home.createLabel">
            Create new Spent Recurrence
            </span>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="spentRecurrences?.length === 0">
        <span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.home.notFound">No spentRecurrences found</span>
    </div>
    <div class="table-responsive" *ngIf="spentRecurrences?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.amount">Amount</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.recurrenceFrom">Recurrence From</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.recurrenceTo">Recurrence To</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.dayInMonth">Day In Month</span></th>
            <th><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.spent">Spent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spentRecurrence of spentRecurrences ;trackBy: trackId">
                <td><a [routerLink]="['/spent-recurrence', spentRecurrence.id, 'view' ]">{{spentRecurrence.id}}</a></td>
                <td>{{spentRecurrence.amount}}</td>
                <td>{{spentRecurrence.recurrenceFrom | date:'mediumDate'}}</td>
                <td>{{spentRecurrence.recurrenceTo | date:'mediumDate'}}</td>
                <td>{{spentRecurrence.dayInMonth}}</td>
                <td>
                    <div *ngIf="spentRecurrence.spentId">
                        <a [routerLink]="['../spent', spentRecurrence.spentId , 'view' ]" >{{spentRecurrence.spentLabel}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/spent-recurrence', spentRecurrence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spent-recurrence', spentRecurrence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'spent-recurrence', { outlets: { popup: spentRecurrence.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
