<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spentRecurrence">
            <h2><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.detail.title">Spent Recurrence</span> {{spentRecurrence.id}}</h2>
            <hr>
            <msha-alert-error></msha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.amount">Amount</span></dt>
                <dd>
                    <span>{{spentRecurrence.amount}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.recurrenceFrom">Recurrence From</span></dt>
                <dd>
                    <span>{{spentRecurrence.recurrenceFrom}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.recurrenceTo">Recurrence To</span></dt>
                <dd>
                    <span>{{spentRecurrence.recurrenceTo}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.dayInMonth">Day In Month</span></dt>
                <dd>
                    <span>{{spentRecurrence.dayInMonth}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.spent">Spent</span></dt>
                <dd>
                    <div *ngIf="spentRecurrence.spentId">
                        <a [routerLink]="['/spent', spentRecurrence.spentId, 'view']">{{spentRecurrence.spentLabel}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spent-recurrence', spentRecurrence.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
