<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="msha-spent-recurrence-heading" jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.home.createOrEditLabel">Create or edit a Spent Recurrence</h2>
            <div>
                <msha-alert-error></msha-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount').invalid && (editForm.get('amount').dirty || editForm.get('amount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.recurrenceFrom" for="field_recurrenceFrom">Recurrence From</label>
                    <div class="input-group">
                        <input id="field_recurrenceFrom" type="text" class="form-control" name="recurrenceFrom" ngbDatepicker  #recurrenceFromDp="ngbDatepicker" formControlName="recurrenceFrom"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="recurrenceFromDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('recurrenceFrom').invalid && (editForm.get('recurrenceFrom').dirty || editForm.get('recurrenceFrom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('recurrenceFrom').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.recurrenceTo" for="field_recurrenceTo">Recurrence To</label>
                    <div class="input-group">
                        <input id="field_recurrenceTo" type="text" class="form-control" name="recurrenceTo" ngbDatepicker  #recurrenceToDp="ngbDatepicker" formControlName="recurrenceTo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="recurrenceToDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.dayInMonth" for="field_dayInMonth">Day In Month</label>
                    <input type="number" class="form-control" name="dayInMonth" id="field_dayInMonth"
                           formControlName="dayInMonth"/>
                    <div *ngIf="editForm.get('dayInMonth').invalid && (editForm.get('dayInMonth').dirty || editForm.get('dayInMonth').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dayInMonth').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dayInMonth').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dayInMonth').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 31 }">
                            This field cannot be more than 31.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dayInMonth')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mySharedHomeActivitiesApp.spentRecurrence.spent" for="field_spent">Spent</label>
                    <select class="form-control" id="field_spent" name="spent" formControlName="spentId">
                        <option *ngIf="!editForm.get('spentId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="spentOption.id" *ngFor="let spentOption of spents; trackBy: trackSpentById">{{spentOption.label}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('spentId').invalid && (editForm.get('spentId').dirty || editForm.get('spentId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('spentId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
