<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wallet">
            <h2><span jhiTranslate="mySharedHomeActivitiesApp.wallet.detail.title">Wallet</span> {{wallet.id}}</h2>
            <hr>
            <msha-alert-error></msha-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.wallet.label">Label</span></dt>
                <dd>
                    <span>{{wallet.label}}</span>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.wallet.workspace">Workspace</span></dt>
                <dd>
                    <div *ngIf="wallet.workspaceId">
                        <a [routerLink]="['/workspace', wallet.workspaceId, 'view']">{{wallet.workspaceLabel}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mySharedHomeActivitiesApp.wallet.owner">Owner</span></dt>
                <dd>
                    <span *ngFor="let owner of wallet.owners; let last = last">
                        <a [routerLink]="['/profil', owner?.id, 'view' ]">{{owner.displayName}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wallet', wallet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
