<div class="col-12">
    <div *ngIf="taskProject">
        <h2>{{taskProject.label}}
            <button type="button" [routerLink]="['/task-project', taskProject.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
            </button></h2>

        <hr>
        <msha-alert-error></msha-alert-error>




    </div>
</div>


<msha-mysha-task-list [taskProject]="taskProject"></msha-mysha-task-list>
<br/>

<button type="submit" (click)="previousState()" class="btn btn-info">
    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
</button>