<div>
    <h2 id="page-heading">
        <span jhiTranslate="mySharedHomeActivitiesApp.taskProject.home.title">Projets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task-project"
            [routerLink]="['/task-project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <msha-alert></msha-alert>
    <br />
    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
        </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="taskProjectsDataSource" matSort>

            <!-- Label Column -->
            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Projet</th>
                <td mat-cell *matCellDef="let taskProject"> <a
                        [routerLink]="['/mysha-task-project', taskProject.id, 'view' ]">{{taskProject.label}} </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="owners">
                <th mat-header-cell *matHeaderCellDef>Participants</th>
                <td mat-cell *matCellDef="let taskProject">
                    <span *ngFor="let owner of taskProject.owners">{{owner.displayName}} </span>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>